* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #add8e6;
}

h2 {
  background-color: #fafad2;
  border: 2px solid black;
  padding: 10px 100px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

button {
    margin-top: 10px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td:last-child {
    text-align: center;
}

.update {
    display: none;
}
